@charset "UTF-8";
html, body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Helvetica Neue", 'Open Sans', Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 2px; }

a {
  color: #000;
  transition: .2s; }

a:hover {
  transition: .2s; }

.container-wrapper {
  background: #f6f5f5;
  width: 100%; }

.site-width {
  width: 1100px;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden; }

.area-msg {
  color: #f10b0b;
  padding-bottom: 15px; }

.contents-container {
  float: left;
  width: 820px; }

.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  background: #12157b; }
  .header .site-width {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .title {
    font-size: 36px; }
    .header .title a {
      color: #fff; }
  .header .menu {
    display: flex;
    align-items: center; }
    .header .menu a {
      color: #fff;
      padding: 10px 15px;
      font-weight: bold;
      font-size: 16px; }
    .header .menu a:hover {
      text-decoration: underline; }

.profile-container {
  width: 100%;
  background: linear-gradient(#ebefef, #545556);
  margin-top: 20px; }
  .profile-container .profile {
    overflow: hidden; }
    .profile-container .profile-img {
      float: left;
      width: 150px;
      height: 150px; }
      .profile-container .profile-img img {
        width: 100%;
        height: 100%;
        border-radius: 75px; }
    .profile-container .profile-info {
      float: left;
      margin-left: 30px; }
      .profile-container .profile-info h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #12157b; }
      .profile-container .profile-info i {
        font-size: 20px; }

.container {
  width: 500px;
  margin: 80px auto;
  border: 2px solid #12157b;
  padding: 15px 40px; }
  .container .title {
    text-align: center;
    font-size: 30px; }
  .container .form {
    width: 80%;
    margin: 20px auto; }
    .container .form label {
      display: block; }
      .container .form label input {
        display: block;
        height: 60px;
        width: 100%;
        font-size: 16px;
        border: none;
        background: #f6f5f5;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box; }
    .container .form label.err input {
      background: #f7dcd9; }
    .container .form .pass_remind {
      text-decoration: underline; }
    .container .form .pass_remind:hover {
      color: #12157b; }

.slider {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative; }
  .slider-container {
    display: flex;
    position: relative; }
  .slider-item {
    width: 1100px; }
  .slider-nav {
    color: #fff;
    position: absolute;
    top: 200px;
    font-size: 36px;
    cursor: pointer;
    z-index: 2; }
  .slider-next {
    right: 20px; }
  .slider-prev {
    left: 20px; }

.contents {
  float: left;
  width: 820px;
  margin: 40px 0;
  padding-right: 10px;
  box-sizing: border-box; }
  .contents .title {
    color: #12157b;
    font-size: 20px;
    border-bottom: 1px solid #12157b; }
  .contents-wrapper {
    overflow: hidden;
    margin-top: 10px; }
    .contents-wrapper .content {
      float: left;
      width: 32%;
      background: #fff;
      min-height: 260px;
      padding: 10px;
      box-sizing: border-box;
      margin-right: 2%;
      margin-top: 10px;
      transition: all .3s; }
      .contents-wrapper .content a {
        display: block; }
      .contents-wrapper .content p {
        height: 50px; }
      .contents-wrapper .content-image {
        width: 100%;
        height: 178px; }
    .contents-wrapper .content:nth-child(3n) {
      margin-right: 0; }
    .contents-wrapper .content:hover {
      transition: all .3s;
      transform: translateY(-3px);
      box-shadow: 0 0 10px 0 #ddd; }
  .contents .to_new {
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    text-align: center;
    margin: 15px auto; }

.category-name {
  background: #28b8f3;
  border-radius: 3px;
  padding: 5px;
  color: #fff; }

.sidebar {
  float: right;
  width: 280px;
  margin-top: 30px;
  box-sizing: border-box; }
  .sidebar .pickup {
    background: #fff;
    padding: 15px; }
    .sidebar .pickup-title {
      color: #12157b; }
    .sidebar .pickup-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      width: 100%;
      height: 100%; }
      .sidebar .pickup-content img {
        width: 25%;
        height: 60px;
        margin-right: 5px; }
  .sidebar .category {
    background: #fff;
    margin-top: 15px;
    padding: 15px; }
    .sidebar .category-wrapper {
      width: 100%;
      overflow: hidden; }
    .sidebar .category-item {
      float: left;
      width: 50%;
      margin-top: 10px; }

.sidebar-mypage {
  float: right;
  width: 280px;
  min-height: 400px;
  padding: 15px;
  background: #fff;
  box-sizing: border-box; }
  .sidebar-mypage a {
    display: block;
    margin-bottom: 15px;
    color: #12157b; }
  .sidebar-mypage a:hover {
    text-decoration: underline; }

.post-container .title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px; }

.post-container .form-container {
  border: 3px solid #12157b;
  padding: 15px 40px;
  background: #fff;
  width: 720px;
  float: left; }
  .post-container .form-container .imgDrop-container {
    width: 27%;
    margin-top: 15px; }
    .post-container .form-container .imgDrop-container .area-drop {
      margin-top: 10px;
      width: 100%;
      height: 180px;
      background: #f6f5f4;
      color: #ccc;
      text-align: center;
      line-height: 180px;
      position: relative; }
      .post-container .form-container .imgDrop-container .area-drop .input-file {
        opacity: 0;
        width: 100%;
        height: 180px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      .post-container .form-container .imgDrop-container .area-drop .prev-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
  .post-container .form-container .counter-text {
    text-align: right; }
  .post-container .form-container label input {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    border: none;
    background: #f6f5f5;
    margin-bottom: 15px;
    margin-top: 5px; }
  .post-container .form-container label input[type="number"] {
    display: block;
    width: 20%; }
  .post-container .form-container label select {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    margin-top: 5px; }
  .post-container .form-container label textarea {
    display: block;
    width: 100%;
    background: #f6f5f5;
    border: none;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px; }
  .post-container .form-container label .must {
    background: #fe8a8b;
    color: #fff;
    padding: 3px 5px;
    font-size: 14px;
    margin-left: 5px;
    vertical-align: top; }
  .post-container .form-container label .additional {
    font-size: 12px;
    margin-left: 5px; }

.article {
  float: left;
  width: 820px;
  margin: 40px 0;
  padding-right: 10px;
  box-sizing: border-box; }
  .article-title {
    text-align: center;
    font-size: 36px; }
  .article-image {
    margin-top: 20px;
    text-align: center;
    width: 100%; }
    .article-image img {
      width: 100%; }
  .article-abstract {
    margin-top: 20px; }
  .article-detail {
    margin-top: 20px; }
  .article h2 {
    text-align: center;
    font-size: 30px;
    color: #12157b; }

.pagination {
  position: relative;
  margin-top: 10px;
  overflow: hidden; }
  .pagination-list {
    position: relative;
    left: 50%;
    display: flex;
    padding-left: 0; }
    .pagination-list-item {
      position: relative;
      margin-right: 5px; }
      .pagination-list-item .active a {
        background: #333;
        color: #fff; }
      .pagination-list-item a {
        display: block;
        padding: 5px 10px;
        background: #fff;
        color: #000;
        font-family: 'Montserrat', sans-serif; }
      .pagination-list-item a:hover {
        background: #12157b;
        color: #fff; }
    .pagination-list-item:last-child {
      margin-right: 0; }

.footer {
  width: 100%;
  background: #12157b;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 5px; }

.btn-container {
  overflow: hidden;
  text-align: center; }
  .btn-container .btn {
    font-size: 20px;
    color: #fff;
    border: none;
    background: #12157b;
    border-radius: 3px;
    padding: 10px;
    margin-top: 15px; }
  .btn-container .btn-edit {
    font-size: 12px;
    float: left;
    background: #12157b;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px; }
  .btn-container .btn-edit:hover {
    background: rgba(18, 21, 123, 0.7); }
  .btn-container .btn-delete {
    font-size: 12px;
    float: left;
    background: #c32929;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px; }
  .btn-container .btn-delete:hover {
    background: rgba(195, 41, 41, 0.7); }
  .btn-container .btn-right {
    float: right; }
  .btn-container .btn:hover {
    cursor: pointer; }

.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px; }
