// ==================================
// 変数
// ==================================
$font-color_default: #000;
$color_corp: #12157b;

$font-family_logo: 'Josefin Sans', sans-serif;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 20px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 36px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

// =====================================
// base
// =====================================
html, body {
  width: 100%;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: "Helvetica Neue", 'Open Sans', Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 2px;
}

a {
  color: $font-color_default;
  transition: .2s;
}

a:hover {
  transition: .2s
}

.container-wrapper {
  background: #f6f5f5;
  width: 100%;
}

.site-width {
  width: 1100px;
  margin:0 auto;
  padding: $space_3l;
  overflow: hidden;
}

.area-msg {
  color: #f10b0b;
  padding-bottom: $space_l;
}

// ===================================
// ヘッダー
// ===================================
.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding-right: $space_xl;
  padding-left: $space_xl;
  display: flex;
  background: $color_corp;
  .site-width {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: $font-size_3l;
    a {
      color: #fff;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    a {
      color: #fff;
      padding: 10px 15px;
      font-weight: bold;
      font-size: $font-size_l;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

// ========================================
// フォーム
// ========================================
.container {
  width: 500px;
  margin: 80px auto;
  border: 2px solid $color_corp;
  padding: $space_l $space_3l;
  .title {
    text-align: center;
    font-size: $font-size_xxl;
  }
  .form {
    width: 80%;
    margin: $space_xl auto;
    label {
      display: block;
      input {
        display: block;
        height: 60px;
        width: 100%;
        font-size: $font-size_default;
        border: none;
        background: #f6f5f5;
        padding: $space_m;
        margin-bottom: $space_l;
        box-sizing: border-box;
      }
    }
    label.err {
      input {
        background: #f7dcd9;
      }
    }
    .pass_remind {
      text-decoration: underline;
    }
    .pass_remind:hover {
      color: $color_corp;
    }
  }
}

// =======================================
// スライダー画像
// =======================================
.slider {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  &-container {
    display: flex;
    position: relative;
  }
  &-item {
    width: 1100px;
  }
  &-nav {
    color: #fff;
    position: absolute;
    top: 200px;
    font-size: $font-size_3l;
    cursor: pointer;
    z-index: 2;
  }
  &-next {
    right: 20px
  }
  &-prev {
    left: 20px;
  }
}

// ==========================================
// 記事一覧
// ==========================================
.contents {
  float: left;
  width: 820px;
  margin: $space_3l 0;
  padding-right: $space_m;
  box-sizing: border-box;
  .title {
    color: $color_corp;
    font-size: $font-size_l;
    border-bottom: 1px solid $color_corp;
  }
  &-wrapper {
    overflow: hidden;
    margin-top: $space_m;
    .content {
      float: left;
      width: 32%;
      background: #fff;
      min-height: 260px;
      padding: $space_m;
      box-sizing: border-box;
      margin-right: 2%;
      margin-top: $space_m;
      transition: all .3s;
      a {
        display: block;
      }
      p {
        height: 50px;
      }
      &-image {
        width: 100%;
        height: 178px;
      }
    }
    .content:nth-child(3n) {
      margin-right: 0;
    }
    .content:hover {
      transition: all .3s;
      transform: translateY(-3px);
      box-shadow: 0 0 10px 0 #ddd;
    }
  }
  .to_new {
    background: #fff;
    padding: $space_m $space_3l;
    border-radius: 10px;
    text-align: center;
    margin: $space_l auto;
  }
}

.category-name {
  background: #28b8f3;
  border-radius: 3px;
  padding: $space_s;
  color: #fff;
}

// ===========================================
// サイドバー
// ===========================================
.sidebar {
  float: right;
  width: 280px;
  margin-top: $space_xxl;
  box-sizing: border-box;
  .pickup {
    background: #fff;
    padding: $space_l;
    &-title {
      color: $color_corp;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: $space_m 0;
      width: 100%;
      height: 100%;
      img {
        width: 25%;
        height: 60px;
        margin-right: $space_s;
      }
    }
  }
  .category {
    background: #fff;
    margin-top: $space_l;
    padding: $space_l;
    &-wrapper {
      width: 100%;
      overflow: hidden;
    }
    &-item {
      float: left;
      width: 50%;
      margin-top: $space_m;
    }
  }
}

// ========================================
// 論文投稿
// ========================================
.post-container {
  .title {
    text-align: center;
    font-size: $font-size_3l;
  }
  .form-container {
    border: 3px solid $color_corp;
    padding: $space_l $space_3l;
    margin-top: $space_xxl;
    background: #fff;
    .imgDrop-container {
      width: 27%;
      margin-top: $space_l;
      .area-drop {
        margin-top: $space_m;
        width: 100%;
        height: 180px;
        background: #f6f5f4;
        color: #ccc;
        text-align: center;
        line-height: 180px;
        position: relative;
        .input-file {
          opacity: 0;
          width: 100%;
          height: 180px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          }
          .prev-img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
      }
    }
    .counter-text {
      text-align: right;
    }
    label {
      input {
        display: inline-block;
        width: 100%;
        height: 40px;
        font-size: $font-size_m;
        padding: $space_s;
        border: none;
        background: #f6f5f5;
        margin-bottom: $space_l;
        margin-top: $space_s;
      }
      select {
        display: block;
        margin-bottom: $space_l;
        font-size: $font-size_m;
        margin-top: $space_s;
      }
      textarea {
        display: block;
        width: 100%;
        background: #f6f5f5;
        border: none;
        margin-bottom: $space_l;
        margin-top: $space_s;
        font-size: $font-size_default;
        padding: $space_m;
      }
      .must {
        background: #fe8a8b;
        color: #fff;
        padding: 3px $space_s;
        font-size: $font-size_m;
        margin-left: $space_s;
        vertical-align: top;
      }
    }
  }
}

// ========================================
// 論文詳細
// ========================================
.article {
  float: left;
  width: 820px;
  margin: $space_3l 0;
  padding-right: $space_m;
  box-sizing: border-box;
  &-title {
    text-align: center;
    font-size: $font-size_3l;
  }
  &-image {
    margin-top: $space_xl;
    text-align: center;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &-abstract {
    margin-top: $space_xl;
  }
  &-detail {
    margin-top: $space_xl;
  }
  h2 {
    text-align: center;
    font-size: $font-size_xxl;
    color: $color_corp;
  }
}

// ========================================
// ページネーション
// ========================================
.pagination {
  position: relative;
  margin-top: $space_m;
  overflow: hidden;
  &-list {
    position: relative;
    left: 50%;
    display: flex;
    padding-left: 0;
    &-item {
      position: relative;
      margin-right: $space_s;
      .active {
        a {
          background: #333;
          color: #fff;
        }
      }
      a {
        display: block;
        padding: $space_s $space_m;
        background: #fff;
        color: #000;
        font-family: 'Montserrat', sans-serif;
      }
      a:hover {
        background: $color_corp;
        color: #fff;
      }
    }
    &-item:last-child {
      margin-right: 0;
    }
  }
}

// ========================================
// フッター
// ========================================
.footer {
  width: 100%;
  background: $color_corp;
  color: #fff;
  text-align: center;
  font-size: $font-size_s;
  padding: $space_s;
}

// ========================================
// ボタン
// ========================================
.btn-container {
  overflow: hidden;
  text-align: center;
  .btn {
    font-size: $font-size_l;
    color: #fff;
    border: none;
    background: $color_corp;
    border-radius: 3px;
    padding: $space_m;
    margin-top: $space_l;
  }
  .btn-right {
    float: right;
  }
  .btn:hover {
    cursor: pointer;
  }
}